* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  transition: all .25s;
  // text-decoration: none;
}

.sr-only {
  @include srOnly;
}

strong {
  font-weight: $bold;
}

body {
  font-family: $copyFF;
}
