// SPACING
$mxW: 1600px;
$gutter: 20px;

// COLORS
$black: #000000;
$white: #FFFFFF;

$primary: #1E3141;
$secondary: #707070;

$accent-1: #07144E;

// FONTS
$headingFF: 'Assistant', sans-serif;
$copyFF: 'Assistant', sans-serif;
$lt: 300;
$reg: 400;
$bold: 700;

// BREAKPOINTS
$mediaXs: "screen and (max-width: 375px)";
$mediaPhone: "screen and (max-width: 767.9px)";
$mediaTablet: "screen and (min-width: 768px)";
$mediaTabletOnly: "screen and (min-width: 768px) and (max-width: 1024.9px)";
$mediaToggleHeader: "screen and (max-width: 1024.9px)";
$mediaDesktop: "screen and (min-width: 1025px)";
$mediaFull: "screen and (min-width: #{$mxW})";

// DIMENSIONS
$headerHeightM: 55px;
$headerHeight: 80px;
