// EXTERNAL SASS
@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.theme.default.scss';
// BASE IMPORTS
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_reset';
@import 'base/_fonts';

// STRUCTURE
@import 'structure/_base';

// COMPONENTS
@import 'components/_grid';
@import 'components/_map';

// FEEDS
@import 'feeds/projects/_base';
@import 'feeds/press/_base';
@import 'feeds/people/_base';

.feedback {
  font-size: 11px;
  background: rgba($primary,.8);
  color: $white;
  padding: 5px;
  position: fixed;
  z-index: 9999;
  right: 10px;
  bottom: 10px;
}
