body {
  &.front-page,
  &.projects:not(.project-archive) {
     > main {
       margin-top: -$headerHeight;
       position: relative;
       z-index: 0;
     }

     .main-header {
       a {
         color: $white;

         @include hover {
           color: rgba($white,.4);
         }
       }
     }
   }
}

@import 'copy/_base';
@import 'header/_header';
@import 'footer/_footer';
