body:not(.front-page) {
  > main {
    padding: 70px 0;
    > section {
      > div {
        @include contentWidth;
      }

      color: $primary;

      &.bg-primary {
        background: $primary;
        color: $white;
        padding: 60px 0;
      }
    }
  }
}

// body.project-detail {
//   > main {
//     padding: 0;
//   }
// }

.section-inner {
  padding: 0 20px;

  @media #{$mediaDesktop} {
    padding: 0 92px;
  }
}
