.main-header {
  width: 100%;
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba($white,.9);

  .loggedin & {
    top: 32px;
  }

  > div {
    @include contentWidth;

    @media #{$mediaTablet} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  button {
    @media #{$mediaDesktop} {
      display: none;
    }
  }
  h1 {

  }

  a {
    color: $primary;
    text-decoration: none;

    @include hover {
      color: $secondary;
      text-decoration: underline;
    }
  }

  @import '_nav';
}
