.main-header {
  height: $headerHeight;
  position: relative;
  z-index: 10;

  > div {
    @include contentWidth;

    @media #{$mediaTablet} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  button {
    @media #{$mediaDesktop} {
      display: none;
    }
  }
  h1 {

  }

  a {
    color: $primary;
    text-decoration: none;

    @include hover {
      color: $secondary;
      text-decoration: underline;
    }

    // Light
    body.projects:not(.project-archive) & {
      color: $white;

      @include hover {
        color: rgba($white,.4);
      }
    }
  }

  @import '_nav';
}
