nav {
  font-family: $headingFF;
  font-size: 15px;
  position: relative;
  flex-shrink: 0;

  a {
    color: $primary;
    text-decoration: none;

    @include hover {
      color: $secondary;
      //text-decoration: none;
    }

    @media #{$mediaDesktop} {
      padding: 0 12px;
    }
  }
  @media #{$mediaDesktop} {
    margin: 0 -12px;
  }

  @media #{$mediaToggleHeader} {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: $white;
    padding: 60px 20px;
    font-size: 18px;
    transition: all .25s;

    > div {
      height: 100%;
      overflow: auto;
    }

    .sub-menu {
      display: none;
      width: 100%;
      font-size: 14px;

      a,
      span {
        display: block;
        padding: 5px 10px;
      }
    }

    .menu {
      > li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 0;

        > a {
          flex-grow: 1;
        }

        > button {
          width: 32px;
          height: 32px;
          position: relative;
          background-color: transparent;
          border: 0;

          &:before,
          &:after {
            width: 16px;
            height: 2px;
            position: absolute;
            top: 15px;
            left: 8px;
            content: "";
            background: $primary;
            transition: all .25s;
          }

          &:after {
            transform: rotate(90deg);
          }

          span {
            @include srOnly;
          }
        }

        &.current-menu-item {
          > button {
            &:after {
              transform: rotate(0deg);
            }
          }

          .sub-menu {
            display: block;
          }
        }
      }
    }
  }

  ul.menu {
    @media #{$mediaDesktop} {
      display: flex;
      justify-content: flex-end;
    }

    > li {
      > a {
        text-transform: uppercase;
        letter-spacing: 1.13px;
      }

      @media #{$mediaDesktop} {
        &:hover,
        &.hover,
        &.current-menu-item,
        &.current-menu-ancestor {
          .sub-menu {
            display: flex;
          }
        }
      }
    }

    li {
      &.current-menu-item,
      &.current-menu-ancestor {
        > a {
          font-weight: 800;
        }
      }
    }
  }

  .sub-menu {
    @media #{$mediaDesktop} {
      display: none;
      justify-content: flex-end;
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 100%;

      a,
      span {
        padding: 10px 12px 0;
        display: block;
      }
    }
  }
}
