.people > main {
  padding: 70px 0;
}
.people-grid {
  > div {
    @include contentWidth;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .grid-title {
    opacity: 0;
  }

  article {
    padding: 12px;
    width: 33.33%;
    flex: 0 0 33.33%;
    position: relative;

    &:nth-child(3n + 2) {
      transform: translateY(-70px);
    }

    a {
      @include hover {
        .grid-title {
          opacity: 1;
        }
      }
    }
  }
}

.people-grid-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -12px;
  padding: 68px 0 70px;
}

.people-bio {
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 12px;
  display: none;

  p {
    color: $white;
    font-size: 21px;
    line-height: (27 / 21) * 1em;
  }

  > div {
    min-height: 100%;
    background: $primary;
    padding: 18px;
  }

  button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px + 12;
    right: 25px + 12;

    border: 1px solid $white;
    background-color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    transition: all .25s;

    &:before,
    &:after {
      width: 140%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      background: $white;
      transition: all .25s;
    }

    &:before {
      transform: translateX(-50%) rotate(45deg);
    }
    &:after {
      transform: translateX(-50%) rotate(-45deg);
    }

    @include hover {
      background: rgba($white,.9);
      border-color: $primary;

      &:before,
      &:after {
        background-color: $primary;
      }
    }
  }
}

.bio-title {
  width: calc(100% - 35px);
  p {
    &:first-child {
      text-transform: uppercase;
      margin: 0;
    }
  }
}

.people-grid article {
  &:nth-child(3n),
  &:nth-child(3n+1) {
    .people-bio {
      top: -70px;
    }
  }

  &:nth-child(3n+2) {
    .people-bio {
      top: 70px;
    }
  }

  &:nth-child(3n) {
    .people-bio {
      left: auto;
      right: 100%;
    }
  }
  &.open {
    z-index: 10;

    .people-bio {
      display: flex;
    }
  }
}
