.people > main {
  padding: 70px 0;
}
.people-grid {
  h4 {
    font-family: $headingFF;
  }
  > div {
    @include contentWidth;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .grid-title {
    opacity: 0;
  }

  article {
    position: relative;
    padding: 6px;

    a {
      @include hover {
        .grid-title {
          opacity: 1;
        }
      }
      display: block;
      position: relative;
      &:before {
        width: 100%;
        height: 151px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        content: "";
        background: linear-gradient(0deg,rgba($black,.3) 0%, rgba($black,0) 100%);
      }
    }

    @media #{$mediaTablet} {
      width: 33.33%;
      flex: 0 0 33.33%;
    }

    @media #{$mediaDesktop} {
      padding: 12px;
    }

    &:nth-child(3n + 2) {
      @media #{$mediaTablet} {
        transform: translateY(-35px);
      }
      @media #{$mediaDesktop} {
        transform: translateY(-70px);
      }
    }
  }
}

.people-grid-inner {
  padding: 68px 0 70px;
  margin: 0 -6px;

  @media #{$mediaTablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media #{$mediaDesktop} {
    margin: 0 60px;
  }
}

.people-bio {
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  transition: all .25s;

  @media #{$mediaTablet} {
    left: 100%;
  }

  @media #{$mediaDesktop} {
    padding: 12px;
  }

  p {
    color: $white;
    font-size: 21px;
    line-height: (27 / 21) * 1em;
  }

  > div {
    min-height: 100%;
    background: $primary;
    padding: 18px;
  }

  button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px + 12;
    right: 25px + 12;

    border: 1px solid $white;
    background-color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    transition: all .25s;

    &:before,
    &:after {
      width: 140%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      background: $white;
      transition: all .25s;
    }

    &:before {
      transform: translateX(-50%) rotate(45deg);
    }
    &:after {
      transform: translateX(-50%) rotate(-45deg);
    }

    @include hover {
      background: rgba($white,.9);
      border-color: $primary;

      &:before,
      &:after {
        background-color: $primary;
      }
    }
  }
}

.bio-title {
  width: calc(100% - 35px);
  p {
    &:first-child {
      text-transform: uppercase;
      margin: 0;
    }
  }
}


.people-grid article {
  @media #{$mediaTablet} {
    &:nth-child(3n),
    &:nth-child(3n+1) {
      .people-bio {
        top: -70px;
      }
    }

    &:nth-child(3n+2) {
      .people-bio {
        top: 70px;
      }
    }

    &:nth-child(3n) {
      .people-bio {
        left: auto;
        right: 100%;
      }
    }
  }
  &.open {
    z-index: 10;

    .people-bio {
      display: flex;
    }
  }
}
