@import url("https://fonts.googleapis.com/css?family=Assistant:300,400,700|Expletus+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

strong {
  font-weight: 700;
}

body {
  font-family: "Assistant", sans-serif;
}

h1 {
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5625rem;
}

header > div {
  max-width: 1240px;
  margin: auto;
  padding: 0 1.25rem;
}

header h1 a {
  color: #1E3141;
  text-decoration: none;
}

header h1 a:hover,
header h1 a:focus {
  color: #707070;
}

header nav {
  font-family: "Expletus Sans", cursive;
  font-size: 0.9375rem;
  position: relative;
}

header nav a {
  color: #1E3141;
  text-decoration: none;
}

header nav a:hover,
header nav a:focus {
  color: #707070;
}

header nav ul.menu > li > a {
  text-transform: uppercase;
  letter-spacing: 1.13px;
}

@media screen and (min-width: 768px) {
  header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1025px) {
  header button {
    display: none;
  }

  header nav a {
    padding: 0 0.75rem;
  }

  header nav {
    margin: 0 -0.75rem;
  }

  header nav ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  header nav ul.menu > li:hover .sub-menu,
  header nav ul.menu > li:focus .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header nav .sub-menu {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
  }

  header nav .sub-menu a {
    padding-top: 0.625rem;
    display: block;
  }
}