// SINGLE PROJECT
.project-hero {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  margin-bottom: 12px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  > div {
    @include contentWidth;
  }
}

.grid-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 24px 38px 24px;
  color: $white;
  transition: all .25s;
  text-shadow: 0px 0px 2px $black;

  h4 {
    font-size: 24px;
    text-transform: uppercase;

    @media #{$mediaDesktop} {
      font-size: 30px;
    }
  }

  small {
    font-family: $headingFF;
    line-height: (40 / 30) * 1em;
    font-weight: $bold;
    font-size: (30 / 24) * 1em;
  }
}

.project-main {
  > div {
    @include contentWidth;
  }
}

// PROJECT GRID
.related-projects {
  padding: 70px 0;
}

.project-grid {
  > div {
    @include contentWidth;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  article {
    padding: 6px;

    @media #{$mediaTablet} {
      width: 33.33%;
      flex: 0 0 33.33%;
    }

    @media #{$mediaDesktop} {
      padding: 12px;
    }

    &:nth-child(3n + 2) {
      @media #{$mediaTablet} {
        transform: translateY(-35px);
      }
      @media #{$mediaDesktop} {
        transform: translateY(-70px);
      }
    }
  }

  a {
    display: block;
    position: relative;
    color: $white;
  }

  small {
    font-size: 21px;
  }

  .grid-title {
    padding-bottom: 48px;
  }

  &.archive {
    background: $primary;
    color: $white;
  }
}

.project-grid-inner {
  padding: 68px 0 70px;
  text-align: center;
  margin: 0 -6px;

  @media #{$mediaTablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media #{$mediaDesktop} {
    margin: 0 -12px;
  }
}
