.content-grid {
  margin: 0 -6px;

  h2 {
    span,
    small {
      display: block;
    }

    small {
      font-size: 1em;
      text-transform: none;
    }
  }

  @media #{$mediaTablet} {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media #{$mediaDesktop} {
    margin: 0 60px;
  }

  [class^="col"] {
    padding: 6px;

    @media #{$mediaDesktop} {
      padding: 12px;
    }
  }

  picture {
    display: block;
    height: 100%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    display: block;

    @supports(object-fit: cover) {
      height: 100%;
      object-fit: cover;
    }
  }

  @media #{$mediaPhone} {
    .col-1 {
      img {
        width: auto;
        max-height: 520px;
        margin: auto;
      }
    }
  }
}

@media #{$mediaTablet} {
  .col-1 {
    width: 33.33%;
    flex: 0 0 33.33%;
  }

  .col-2 {
    width: 66.67%;
    flex: 0 0 66.67%;
  }

  .col-3 {
    width: 100%;
    flex: 0 0 100%;
  }
}
