.press-listing {
  padding: 70px 0;

  > div {
    @include contentWidth;
    @media #{$mediaTablet} {
      display: flex;
      justify-content: space-between;
    }
  }

  .articles {
    font-size: 18px;
    article {
      margin-bottom: 1.4em;
      span {
        display: block;
      }
    }

    a {
      color: $primary;
      text-decoration: none;

      @include hover {
        span:last-child {
          text-decoration: underline;
        }
      }
    }
  }
}

.outlet-grid {
  @media #{$mediaTablet} {
    width: 56.5%;

    nav {
      position: sticky;
      top: $headerHeight;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  li {
    flex: 0 0 50%;
    width: 50%;
    padding: 12px;

    @media #{$mediaTablet} {
      flex: 0 0 33.3%;
      width: 33.3%;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid $accent-1;
  }

  span {
    @include srOnly;
  }
}

.articles {
  @media #{$mediaTablet} {
    flex: 0 0 32.2%;
    width: 32.2%;
  }
}
