.press-listing {
  padding: 70px 0;

  > div {
    @include contentWidth;
    display: flex;
    flex-direction: column;
    
    @media #{$mediaTablet} {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  .articles {
    font-size: 18px;
    article {
      margin-bottom: 1.4em;
      .date {
        font-family: $headingFF;
      }
      span {
        display: block;
      }
    }

    a {
      color: $primary;
      text-decoration: none;

      @include hover {
        span:last-child {
          text-decoration: underline;
        }
      }
    }
  }
}

.outlet-grid {
  @media #{$mediaTablet} {
    width: 75%;

    nav {
      position: sticky;
      top: $headerHeight;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  li {
    flex: 0 0 50%;
    width: 50%;
    padding: 12px;

    @media #{$mediaTablet} {
      flex: 0 0 25%;
      width: 25%;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  span {
    @include srOnly;
  }

  a {
    transition: all .25s;
    display: block;
    border: 1px solid #DDDDDD;

    @include hover {
      opacity: .25;
    }
  }

  &.tax-archive {
    a {
      opacity: .25;

      @include hover {
        opacity: .75;
      }
    }

    li.active a {
      opacity: 1;
    }
  }
}

.articles {
  @media #{$mediaTablet} {
    flex: 0 0 20%;
    width: 20%;
  }
}

.s-news {
  padding: 75px 0;
}
.news-carousel {
  article {
    font-size: 18px;
    padding: 1px;

    a {
      color: $primary;
      display: block;
      height: 100%;
      padding: 20px;
      border: 1px solid $primary;
      text-decoration: none;

      @include hover {
        background: rgba($primary,.2);
      }
    }
  }
  .owl-item {
    &:nth-child(2n) {
      article {
        a {
          color: $white;
          background: $primary;

          @include hover {
            color: $primary;
            background: rgba($primary,.2);
          }
        }
      }
    }
  }

  .owl-stage {
    display: flex;
    align-items: stretch;
  }

  article,
  a {
    height: 100%;
  }

  .date {
    margin-bottom: .5em;
  }
}
